:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255); /* Unsure */
    --entry: rgb(255, 255, 255); /* Unsure */
    --primary: rgb(30, 30, 30); /* All titles including header */
    --secondary: rgb(31, 31, 31); /* Footer */
    --tertiary: rgb(214, 214, 214); /* Unsure */
    --content: rgb(31, 31, 31); /* Main content text */
    --hljs-bg: rgb(28, 29, 33); /* Code box background */
    --code-bg: rgb(255, 153, 0); /* Bitcoin Orange - Background */
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(29, 30, 32); /* Background */
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219); /* All titles including header */*/
    --secondary: rgb(155, 156, 157); /* Footer */
    --tertiary: rgb(65, 66, 68); /* Unsure */
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
